<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>S09_servlet_fundamentals.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>S09_servlet_fundamentals.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadParamServlet</servlet-name>
        <servlet-class>S09_servlet_fundamentals.ReadParamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MvcDemoServlet</servlet-name>
        <servlet-class>S10_mvc.MvcDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControllerServlet</servlet-name>
        <servlet-class>S10_mvc.controllers.StudentControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadParamServlet</servlet-name>
        <url-pattern>/ReadParamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MvcDemoServlet</servlet-name>
        <url-pattern>/MvcDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControllerServlet</servlet-name>
        <url-pattern>/StudentControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--context - only for test-->
    <context-param>
        <param-name>max-shopping-cart-size</param-name>
        <param-value>99</param-value>
    </context-param>
    <context-param>
        <param-name>academy-name</param-name>
        <param-value>Bkacad</param-value>
    </context-param>
</web-app>
